* {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-shadow: 0 0 5px #00ff00
}

.nav-link:hover {
    background-color: #00ff00;
    transition: background-color 0.3s ease-in-out;
}



